<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ayuda</title>
</head>
{% load static %}
<body style="background-color:#00af91;">
<div style="align-items: center;">
<h2 style="color:White; text-align: center; background-color: #6930c3;">Carlos Roberto Rangel Castillo</h2>
<h2 style="color:White; text-align: center; background-color: #6930c3;">201907636</h2>
  </div>
    <div style="align-items: center;">
                <h2 style="color:White; text-align: center; background-color: #6930c3;">DOCUMENTACION</h2>
                <object class="cajapdf" data="{% static 'Ensayo-IPC2-Proyecto3.pdf' %}" width="950px" height="1000px"></object>
            </div>
</body>
</html>


