<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectp3_IPC2_201907636</title>
</head>
<body>
    {% block content %}
    
    <div>
    <form action="/enviararchivo/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <br>
    <input   id="file" name="file" type="file" style="display:none" >
    <button type="submit" id= "btn1">Enviar</button>
    <label  for="file">Cargar Archivo</label>
 
    <div>
        <textarea  name="textarea" id ="textarea" rows="20" cols="90">{{entradatos}}</textarea>
        <textarea  name="textarea2" rows="20"  cols="90">{{nuevo}}</textarea>
    </div>
    </form>
    </div>
    </form>
    {% endblock content %}
</body>
</html>
