<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectp3_IPC2_201907636</title>
    {% block content %}
    <div>
    <form action="/file/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <label for="file">Cargar un archivo</label>
    <br>
    <input type="file" id="file" name="file" accept="text/xml">
    <div>
        {% if content %}
        <textarea label="textarea" name="textarea" rows="20" cols="90">{{content}}</textarea>
        <textarea label="textarea" name="textarea2" rows="20" cols="90">{{response}}</textarea>
        {% else %}
        <textarea label="textarea" name="textarea" rows="20" cols="90"></textarea>
        <textarea label="textarea" name="textarea2" rows="20" cols="90"></textarea>
    {% endif %}
    </div>
    <button type="submit" class="btn btn-dark btn-lg">Enviar</button>
    </form>
    </div>
    {% endblock content %}

    
    
    
    
    </form>
</body>
</html>
